@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Rubik+Microbe&display=swap');

/* Styling header and nav bar */
#logo {
    text-align: center;
    font-family: 'Rubik Microbe';
    font-size: 4rem;
    letter-spacing: .5rem;
}

#menu {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 1rem;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(57, 37, 37);
}

#menu a:hover {
    color: rgba(227, 188, 58, 0.796);
}

/* Adding hero-image */
#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: -1px 0px 20px 4px rgb(57 37 37);
}

#hero-image {
    height: 60vh;
    width: 100%;
    opacity: 0.8;
    background: url(../images/hero-1.png) no-repeat center center;
    background-size: cover;

    /* Animating zoom effect */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
   }
   
   /* Zoom scale for hero-image */
   @keyframes hero-zoom {
   from{
       transform: scale(1.2);
   }
   to{
       transform: scale(1);
   }
   }
